@model MVCTelent.Models.UserProfileDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body mt-3">

<h1>Details</h1>
        <div class="card">
            <div class="card-body mt-3">

<div>
    <h4>UserProfileDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
          @*  @Html.DisplayFor(model => model.Education)*@
            <img src="~/UserProfileDetails/@Model.Education" height="200px" width="200px" alt="Your image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd class = "col-sm-10">
           @* @Html.DisplayFor(model => model.Certificate)*@
            <img src="~/UserProfileDetails/@Model.Certificate" height="200px" width="200px" alt="Your image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
           @* @Html.DisplayFor(model => model.Experience)*@
            <img src="~/UserProfileDetails/@Model.Experience" height="200px" width="200px" alt="Your image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserProfileDetailId"
       class="btn btn-primary mt-1">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark mt-1">Back</a>
</div>
</div>
</div>
</div>
</div>
